@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminCommon.cshtml";
}
@using MainProject.Models;
@using System.Data;
<link href="~/Content/css/style.css" rel="stylesheet" />

 <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">
@{
    string ch=ViewBag.idd;
}
        <header class="section-header">
          <h3>Change Your Password</h3>
        </header>
          
        <div class="owl-carousel testimonials-carousel col-sm-12">
             @{
                  DBManager Dbm = new DBManager();
                  string cmd = "select *from Admin";
                  DataTable dt = Dbm.ExecuteSelect(cmd);
                  foreach(DataRow dr in dt.Rows)
                  {
                      <div class="row">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-8">
                              @using (Html.BeginForm("ChangePassword", "Admin"))
                              {
                                  
                                  @Html.TextBox("id", @ch, new { type = "hidden" })
                                  <div class="form-group">
                                        @Html.TextBox("old", null, new { @class = "form-control", placeholder = "Enter Current Password" })
                                        <div class="validation"></div>
                                  </div>
                                  <div class="form-group">
                                        @Html.TextBox("pass", null, new { @class = "form-control", placeholder = "Enter New Password" })
                                        <div class="validation"></div>
                                  </div>
                                  <div class="form-group">
                                        @Html.TextBox("cpaas", null, new { @class = "form-control", placeholder = "Confirm Password" })
                                        <div class="validation"></div>
                                  </div>
                                  
                                  <input type="submit" value="Change Password" class="btn-success" />
                                 
                              }
                          </div>
                          <div class="col-sm-2"></div>
                      </div>
                  }
             }
             @{if (ViewBag.msg != null)
                                    {
                                      <span style="color:red">@ViewBag.msg</span>
                                    }
                              }
         </div>
        </div>

      
    </section>
